#confirmDeleteUnseen(style="display: none;")
  .modal-backdrop
    .modal
      .modal-header
        %h3 Bist du Dir sicher?
        %a.close(href="#" data-action="cancel") x
      .modal-body
        %p
          Du möchtest
          %strong alle Übersetzungen löschen,
          die
          %em anscheinend
          nicht mehr aktiv sind?
      .modal-footer
        %button.btn.danger(data-action="confirm") Ja, alle löschen!
        %button.btn(data-action="cancel") Nein, doch nicht.

%style(type="text/css")
  :sass
    .translation-table
      table-layout: fixed

      td, th
        &.locale
          width: 38%
        &.info
          width: 24%

      tr.deprecated
        opacity: 0.25

      td
        vertical-align: top

        textarea
          font-size: 16px
          min-height: 4em
          width: 100%

          &.processing
            border-color: #f00
            background-color: #ddd

        &.info
          line-height: 1.4em

          .default
            color: #333
            margin-bottom: 0.2em
            font-size: 110%

            &.notGiven
              color: #faa
.topbar
  .fill
    .container
      %h3
        %a(href="/translations") Babelabel
      %ul
        %li
          %a(href="#")
            Alle
            == (#{@translations.count})
        %li
          %a(href="#")
            Unvollständige
            == (#{@translations.select{|x| x["values"]["de"].blank? or x["values"]["en"].blank?}.count})
        %li
          %a(href="#")
            Nicht gesehen
            == (#{@translations.select{|x| !x["last_seen"]}.count})
      %ul.nav.secondary-nav
        %li.menu
          %a.menu(href="#") Aktionen
          %ul.menu-dropdown
            %li
              %a#resetLastSeen(href="#") Reset LastSeen
            %li
              %a#deleteUnseen(href="#") Delete Unseen

.container
  %br
  %br
  %br
  %br

  %section#translations
    .page-header
      %h2 Alle Übersetzungen

    .row
      .span16.columns
        %table.translation-table.common-table.zebra-striped
          %thead
            %tr
              %th.locale English
              %th.locale German
              %th.info
          - if @translations.empty?
            %tbody.noTranslations
              %td(colspan="3")
                Es liegen keine Übersetzungen in der Datenbank.
          %tbody
            - @translations.each do |t|
              - cls = !t["last_seen"] ? "deprecated" : ""
              %tr.translation{ :"data-id" => t["_id"], :class => cls }
                %td.locale
                  = text_area_tag "value[en]", t["values"]["en"], :placeholder => t["default"]
                %td.locale
                  = text_area_tag "value[de]", t["values"]["de"], :placeholder => t["default"]
                %td.info
                  - default = t["default"]
                  .default{ :class => (default.blank? ? "notGiven" : "")}
                    = default.blank? ? "no default" : default
                  .path= t["_id"]
                  - last_seen = t["last_seen"]
                  - if last_seen
                    .lastSeen
                      vor
                      = time_ago_in_words(Time.parse(last_seen))
        .actions
          Updates werden automatisch gespeichert.

:coffeescript
  $ ->
    $("body").bind "click", (e) ->
      $("a.menu").parent("li").removeClass "open"

    $("a.menu").click (e) ->
      $li = $(this).parent("li").toggleClass("open")
      false


:coffeescript
  customConfirm = (callback) ->
    $modal = $("#confirmDeleteUnseen").clone().attr('id', null)
    $modal.find("[data-action=confirm]").click (e) ->
      e.preventDefault()
      $modal.remove()
      callback()
    $modal.find("[data-action=cancel]").click (e) ->
      e.preventDefault()
      $modal.remove()
    $modal.prependTo("body").show()

  $("#resetLastSeen").click (e) ->
    e.preventDefault()
    $.ajax
      url: "/translations/reset_last_seen"
      type: "POST"

  $("#deleteUnseen").click (e) ->
    e.preventDefault()
    customConfirm ->
      $.ajax
        url: "/translations/delete_unseen"
        type: "POST"

  $(".translation").find(":input").change ->
    $this = $(this)
    $parent = $this.closest(".translation")

    data =
      _method: "PUT"

    data[$this.attr("name")] = $this.val()

    $.ajax
      type: "POST"
      url: "/translations/\#{$parent.attr('data-id')}"
      data: data
      beforeSend: ->
        $this.data("ajax-counter", ($this.data("ajax-counter") or 0) + 1)
        $this.addClass("hasAjaxRequest")
        true
      complete: ->
        newValue = Math.max(($this.data("ajax-counter") or 0) - 1, 0)
        $this.data("ajax-counter", newValue)
        $this.removeClass("hasAjaxRequest") if newValue == 0
